[submodule "chess_grid"]
	path = chess_grid
	url = https://github.com/brollin/chess_grid.git
[submodule "brollin_talon"]
	path = brollin_talon
	url = https://github.com/brollin/brollin_talon.git
[submodule "screen-spots"]
	path = screen-spots
	url = https://github.com/AndrewDant/screen-spots.git
[submodule "knausj_talon"]
	path = knausj_talon
	url = https://github.com/brollin/knausj_talon.git
[submodule "talon_ui_helper"]
	path = talon_ui_helper
	url = https://github.com/splondike/talon_ui_helper.git
[submodule "mouse_guide"]
	path = mouse_guide
	url = https://github.com/tararoys/mouse_guide.git
[submodule "cursorless-talon"]
	path = cursorless-talon
	url = https://github.com/cursorless-dev/cursorless-talon.git
[submodule "brollin_talon_public"]
	path = brollin_talon_public
	url = https://github.com/brollin/brollin_talon_public.git
[submodule "rango-talon"]
	path = rango-talon
	url = ./rango-talon
[submodule "flex-mouse-grid"]
	path = flex-mouse-grid
	url = ./flex-mouse-grid
